.body {
    /* background: #1C1C1C; */
    /* background: #313542; */
    background: #FBFAF8;
}

.body h1 {
    color: indigo;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 70px;
}