* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    /* background: indigo; */
    position: fixed;
    width: 100%;
    padding: 18px 0;
    transition: 0.6s ease;
}

.navbar.active {
    background: #fff;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar.active .logo a {
    color: indigo;
    transition: opacity 0.3s ease;
}

.navbar .logo a:hover {
    color: indigo;
}

.navbar.active .logo a:hover {
    opacity: 40%;
}

.navbar .menu li {
    display: inline-block;
    list-style: none;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar.active .menu li a {
    color: indigo;
    transition: opacity 0.3s ease;
}

.navbar .menu li a:hover {
    color: indigo;
}

.navbar.active .menu li a:hover {
    color: indigo;
    opacity: 40%;
}