.education-card {
    color: white;
    margin: 3em;
}

.education-school-year {
    margin-bottom: 0.5em;
}

.school-name {
    font-weight: 600;
    font-size: 24px;
    background-color: white;
    color: indigo;
}

.year {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}